html {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: CeraPro;
  font-display: swap;
  src: url("../fonts/CeraPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: CeraPro;
  font-display: swap;
  src: url("../fonts/CeraPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: CeraPro;
  font-display: swap;
  src: url("../fonts/CeraPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CeraPro;
  font-display: swap;
  src: url("../fonts/CeraPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  color: #3D3D3D;
  font-weight: 400;
  font-size: 16px;
  font-family: CeraPro, sans-serif;
  overflow-x: hidden;
}

a {
  color: #3d3d3d;
}

.disable {
  position: absolute !important;
  visibility: hidden !important;
}

.active__burger-menu {
  visibility: visible !important;
  -webkit-animation-name: inputOpen;
          animation-name: inputOpen;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.active__input-open {
  position: relative !important;
  visibility: visible !important;
  -webkit-animation-name: inputOpen;
          animation-name: inputOpen;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.active__link {
  font-weight: 700;
  border-bottom: 3px solid #46A358;
  color: #46A358 !important;
}

.active__slide {
  position: static !important;
  visibility: visible !important;
  -webkit-animation-name: slide-animation;
          animation-name: slide-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.active__icons-inner-img {
  visibility: visible !important;
  -webkit-animation-name: iconsUp;
          animation-name: iconsUp;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

.active__pagination {
  color: #fff;
  background: #46A358;
}

.active__showcase-category {
  color: #46A358;
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
}

.active__showcase-sort {
  font-weight: 700;
  color: #46A358;
  padding-bottom: 4px;
  border-bottom: 2px solid #46A358;
}

.active__size {
  font-weight: 700 !important;
  border: 1px solid #46A358 !important;
  color: #46A358 !important;
}

.btn__change-count {
  border-radius: 29px;
  background-color: #46A358;
  border: none;
  height: 38px;
  width: 33px;
  font-weight: 400;
  font-size: 28px;
  color: #fff;
}

.btn__change-count-resize {
  width: 25px;
  height: 25px;
  font-size: 20px;
  line-height: 24px;
}

.btn__change-count:hover {
  background-color: rgb(126, 201, 111);
  transition: 0.4s;
  color: #fff;
}

.btn__delete {
  border: none;
  background-color: #FBFBFB;
}

.btn__full-description {
  border: none;
  background-color: #fff;
  color: #3d3d3d;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  border-bottom: 3px solid #46A358;
  padding-bottom: 10px;
  cursor: pointer;
}

.btn__full-reviews {
  display: flex;
  border: none;
  background-color: #fff;
  color: #3d3d3d;
  font-weight: 500;
  font-size: 17px;
  line-height: 16px;
  padding-bottom: 13px;
  cursor: pointer;
}

.btn__requisites-of-bank-card {
  background-color: #46A358;
  height: 40px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
}

.btn__requisites-of-bank-card:hover {
  background-color: rgb(126, 201, 111);
  transition: 0.4s;
  color: #fff;
}

.btn__buyNow {
  height: 40px;
  width: 130px;
  background-color: #46A358;
  color: #fff;
  border-radius: 6px;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid #fff;
}

.btn__buyNow:hover {
  background-color: rgb(126, 201, 111);
  transition: 0.4s;
  color: #fff;
}

.btn__addToCart {
  height: 40px;
  width: 130px;
  border: 1px solid #46A358;
  border-radius: 6px;
  background-color: #fff;
  color: #46A358;
  font-weight: 700;
}

.btn__addToCart:hover {
  background-color: rgb(126, 201, 111);
  transition: 0.4s;
  color: #fff;
}

.btn__like-box {
  width: 40px;
  height: 40px;
  border: 1px solid #46a358;
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__like-box:hover {
  background-color: rgb(126, 201, 111);
  transition: 0.4s;
  color: #fff;
}

.btn__size {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #eaeaea;
  background-color: #fff;
  color: #727272;
  font-weight: 500;
  font-size: 14px;
}

.btn__search-input-open {
  border: none;
  background-color: white;
  border-bottom: 3px solid #fff;
  cursor: pointer;
}

.btn__search-find-request {
  border: none;
  background-color: white;
  cursor: pointer;
}

.btn__market-cart {
  border: none;
  background-color: white;
  cursor: pointer;
  position: relative;
}

.btn__hamburger-menu {
  visibility: hidden;
  position: absolute;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: auto;
}

.btn__hamburger-exit {
  position: absolute;
  right: 30px;
  top: 20px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.btn__facebook {
  position: relative;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.btn__twitter {
  position: relative;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.btn__linkedIn {
  position: relative;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.btn__mail {
  position: relative;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.section-outer {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

h3 {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 16px;
}

h4 {
  margin: 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
}

.primary-btn {
  display: flex;
  align-items: center;
  height: 33px;
  padding: 0 17px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  font-family: CeraPro;
  background-color: #46A358;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  border: 3px solid #46A358;
}

.primary-btn__text {
  padding-left: 3px;
}

.primary-btn:hover {
  background-color: rgb(126, 201, 111);
  border: 3px solid rgb(126, 201, 111);
  transition: 0.4s;
}

.svg__logo {
  width: 150px;
  height: 34px;
}

.svg__logo-mini {
  width: 40px;
  height: 40px;
}

.svg__logo-burger {
  width: 40px;
  height: 40px;
}

.svg__search {
  width: 20px;
  height: 20px;
}

.svg__search-find-request {
  position: absolute;
  width: 18px;
  height: 18px;
}

.svg__market-cart {
  width: 29px;
  height: 24px;
}

.svg__hamburger-menu {
  width: 29px;
  height: 24px;
  z-index: -1;
}

.svg__hamburger-exit {
  position: absolute;
  width: 29px;
  height: 24px;
  z-index: 2;
}

.svg__login {
  width: 20px;
  height: 20px;
}

.svg__pagination-arrow-right {
  position: absolute;
  top: 27%;
  left: 27%;
  width: 18px;
  height: 18px;
  transform: rotate(-90deg);
}

.svg__like {
  width: 26px;
  height: 24px;
}

.svg__btn-arrow {
  width: 15px;
  height: 15px;
  padding-left: 5px;
}

.svg__blog-arrow {
  position: absolute;
  bottom: 13px;
  left: 85px;
  width: 14px;
  height: 12px;
}

.svg__delete {
  width: 22px;
  height: 22px;
}

.svg__footer-flower1 {
  width: 60px;
  height: 116px;
}

.svg__footer-flower2 {
  width: 70px;
  height: 116px;
}

.svg__footer-flower3 {
  width: 80px;
  height: 116px;
}

.svg__location {
  width: 22px;
  height: 27px;
}

.svg__accept {
  width: 25px;
  height: 25px;
}

.svg__call {
  width: 16px;
  height: 16px;
}

.svg__like-box {
  width: 22px;
  height: 23px;
  fill: #46A358;
}

.svg__facebook {
  position: absolute;
  bottom: 0;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 16px;
}

.svg__instagram {
  position: absolute;
  bottom: 0;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}

.svg__twitter {
  position: absolute;
  bottom: 0;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 13px;
  fill: black;
}

.svg__linkedIn {
  position: absolute;
  bottom: 0;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 14px;
  fill: black;
}

.svg__union {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  fill: black;
}

.svg__mail {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}

.svg__star {
  width: 16px;
  height: 16px;
}

.section-header__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 25px;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.menu__list {
  display: flex;
  margin-top: 7px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
}

.menu__list-item {
  z-index: 0;
  padding-bottom: 14px;
}

.menu__list-item + .menu__list-item {
  padding-left: 50px;
}

.menu__list-link {
  white-space: nowrap;
  padding-bottom: 25px;
  color: #3D3D3D;
  text-decoration: none;
  cursor: pointer;
}

.menu__list-link:hover {
  text-shadow: 0 0 0.9px #3D3D3D, 0 0 0.9px #3D3D3D;
}

.icons {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.icons button + button {
  margin: 0 30px;
}

.icons__countOnMarketCart {
  position: absolute;
  right: 1px;
  bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  color: #fff;
  font-weight: 500;
  font-size: 10px;
  font-family: CeraPro;
  background: #46A358;
  border: 2px solid #fff;
  border-radius: 100%;
}

.plants-search__wrapper {
  display: flex;
  position: absolute;
  visibility: hidden;
}

.plants-search__input {
  width: 190px;
  height: 45px;
  padding-left: 38px;
  padding-right: auto;
  border: none;
  border: 2px solid #fff;
  background: #F8F8F8;
  border-radius: 10px;
}

.plants-search__input::-moz-placeholder {
  opacity: 0.7;
}

.plants-search__input:-ms-input-placeholder {
  opacity: 0.7;
}

.plants-search__input::placeholder {
  opacity: 0.7;
}

.btn__search-find-request {
  background: none;
  position: absolute;
  bottom: 32px;
  left: 7px;
}

.hamburger-menu {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: 380px;
  background-color: #F8F8F8;
  z-index: 5;
}

.hamburger-menu__icons {
  position: relative;
  height: 60px;
  border-bottom: 1px solid #E2E7EB;
  margin: 0 20px 0 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.hamburger-menu__wrapper {
  border-bottom: 1px solid #E2E7EB;
  margin: 20px;
}

.hamburger-menu__list {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  padding-left: 10px;
  padding-top: 15px;
}

.hamburger-menu__list-item {
  padding-bottom: 25px;
}

.hamburger-menu__list-link {
  font-size: 22px;
  color: #3D3D3D;
  text-decoration: none;
  cursor: pointer;
}

.hamburger-menu__list-link:hover {
  text-shadow: 0 0 0.9px #3D3D3D, 0 0 0.9px #3D3D3D;
}

.logo-mini {
  visibility: hidden;
}

.section-slider {
  position: relative;
  height: 450px;
  margin-top: 12px;
  background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);
}

.slide-wrapper {
  display: flex;
}

.slide {
  position: absolute;
  visibility: hidden;
}

.text-wrapper {
  width: 550px;
  padding-top: 68px;
  padding-left: 40px;
}

.text-wrapper__pre-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.text-wrapper__title {
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
}

.text-wrapper__title span {
  color: #46A358;
}

.text-wrapper__paragraf {
  padding-bottom: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.text-wrapper__paragraf-w605 {
  position: absolute;
  visibility: hidden;
}

.image-wrapper {
  position: relative;
}

.image-wrapper__flower {
  position: absolute;
  top: 20px;
  left: 100px;
  background-repeat: no-repeat;
}

.image-wrapper__small-flower {
  position: absolute;
  bottom: -60px;
  left: 140px;
  background-repeat: no-repeat;
}

.count-of-sliders {
  position: absolute;
  right: 50%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 40px;
  height: 25px;
}

.dot {
  width: 8px;
  height: 8px;
  background: rgba(70, 163, 88, 0.3);
  border-radius: 50%;
}

.now-position {
  background-color: #46A358;
}

.showcase {
  margin-top: 46px;
}

.showcase__inner {
  display: flex;
  flex-direction: row;
}

.filter-list {
  display: flex;
  flex-direction: column;
}

.category {
  background: #fbfbfb;
  width: 310px;
  padding-bottom: 6px;
}

.category__title {
  padding-top: 10px;
  padding-left: 17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  padding-bottom: 7px;
}

.category__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 23px 0 30px;
  text-decoration: none;
}

.category__item {
  font-size: 15px;
  line-height: 40px;
}

.sell-out-card {
  position: relative;
  width: 310px;
  height: 470px;
  background: linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%);
}

.sell-out-card__img-sale {
  padding-left: 22px;
}

.sell-out-card__text {
  text-align: center;
  font-weight: 700;
  font-size: 23px;
  line-height: 16px;
}

.sell-out-card__img-flower {
  position: absolute;
  bottom: 0;
  left: -8%;
}

.price-range {
  width: 280px;
  padding-top: 36px;
  padding-right: 30px;
  padding-bottom: 19px;
  background: #fbfbfb;
}

.price-range input {
  padding-left: 30px;
}

.price-range button {
  margin-left: 30px;
}

.price-range__title {
  padding-top: 10px;
  padding-left: -17px;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
}

.price-range__cost-wrapper {
  padding: 16px 0 16px 30px;
}

input[type=range].styled-slider {
  width: 209px;
  height: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* progress support */

input[type=range].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 20px + var(--ratio) * (100% - 20px));
}

input[type=range].styled-slider:focus {
  outline: none;
}

/* webkit */

input[type=range].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #46a358;
  border: 2px solid #fff;
  box-shadow: none;
  margin-top: -7.5px;
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
  height: 5px;
  border: none;
  border-radius: 8px;
  background: #a1d1a0;
  box-shadow: none;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#46a358, #46a358) 0/var(--sx) 100% no-repeat, #a1d1a0;
}

/* mozilla */

input[type=range].styled-slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #46a358;
  border: 2px solid #fff;
  box-shadow: none;
}

input[type=range].styled-slider::-moz-range-track {
  height: 5px;
  border: none;
  border-radius: 8px;
  background: #a1d1a0;
  box-shadow: none;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#46a358, #46a358) 0/var(--sx) 100% no-repeat, #a1d1a0;
}

/* ms */

input[type=range].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #46a358;
  border: 2px solid #fff;
  box-shadow: none;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
  height: 5px;
  border-radius: 8px;
  background: #a1d1a0;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
  height: 5px;
  border-radius: 8px 0 0 8px;
  margin: -undefined 0 -undefined -undefined;
  background: #46a358;
  border: none;
  border-right-width: 0;
}

.showcase__wrapper {
  margin-left: 50px;
}

.showcase__sorting-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.showcase__categories {
  display: flex;
}

.showcase__categories a {
  text-decoration: none;
}

.showcase__categories a + a {
  margin-left: 37px;
}

.showcase__slots-wrapper {
  height: 350px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 259px 259px 259px;
  grid-template-columns: 259px 259px 259px;
  -ms-grid-rows: 420px 420px 420px;
  grid-template-rows: 420px 420px 420px;
  grid-column-gap: 33px;
  margin-bottom: 70px;
}

.showcase__sorting {
  display: flex;
}

.showcase__sorting-text {
  font-size: 18px;
}

.showcase__sorting-select {
  border: none;
  font-family: CeraPro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
}

.slot__wrapper {
  position: relative;
  width: 258px;
  height: 300px;
  background: #ff6d6d;
}

.slot__name {
  display: block;
  padding-top: 12px;
  padding-bottom: 6px;
  text-decoration: none;
  color: black;
}

.slot__name:hover {
  color: #46A358;
  text-shadow: 0 0 0.9px #46A358, 0 0 0.9px #46A358;
}

.slot__cost {
  color: #46A358;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
}

.slot__sale {
  color: #a5a5a5;
  text-decoration: line-through;
}

.slot__card-sale {
  position: absolute;
  top: 10px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  background-color: #46A358;
  color: #fff;
}

.icons-inner-img {
  visibility: hidden;
  position: absolute;
  display: flex;
  width: 125px;
  bottom: 5%;
  left: 30%;
}

.icons-inner-img__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

.icons-inner-img__item + .icons-inner-img__item {
  margin-left: 10px;
}

.pagination__wrapper {
  display: flex;
  justify-content: end;
  padding-top: 90px;
}

.pagination__item {
  position: relative;
  border: none;
  background: none;
}

.pagination__item + .pagination__item {
  margin-left: 10px;
}

.pagination__link {
  text-decoration: none;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
}

.pagination__btn {
  position: relative;
  width: 35px;
  height: 35px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  background: none;
}

.product-card {
  z-index: -3;
  margin-top: 146px;
}

.product-card__inner {
  display: flex;
  flex-direction: row;
}

.card__wrapper {
  position: relative;
  width: 586px;
  height: 250px;
  background: #fbfbfb;
  border: 1px solid #46A358;
  text-align: right;
}

.card__wrapper + .card__wrapper {
  margin-left: 26px;
}

.card__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 300px;
  margin-left: 250px;
  margin-right: 25px;
}

.card__title {
  padding-top: 36px;
  padding-bottom: 10px;
}

.card__text {
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.card__img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.blog {
  margin-top: 136px;
  margin-bottom: 100px;
}

.blog__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.blog__title {
  padding-bottom: 13px;
  font-weight: 700;
  font-size: 30px;
  line-height: 16px;
}

.blog__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 35px;
}

.posts {
  width: 1200px;
  display: flex;
}

.posts__wrapper {
  position: relative;
  width: 268px;
  background: #fbfbfb;
  text-align: start;
  padding-bottom: 13px;
}

.posts__wrapper + .posts__wrapper {
  margin-left: 44px;
}

.posts__img {
  min-width: 268px;
  max-width: 268px;
  min-height: 195px;
  max-height: 195px;
}

.posts__date {
  color: #46A358;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-top: 8px;
  padding-bottom: 5px;
  padding-left: 13px;
}

.posts__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 7px;
  padding-left: 13px;
}

.posts__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 15px;
  padding-right: 12px;
  padding-left: 13px;
}

.posts__href {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-left: 13px;
  color: #3d3d3d;
}

.posts__href:hover {
  color: #46A358;
  width: 500;
}

.page-product {
  display: flex;
  flex-direction: column;
}

.page-product__description-wrapper {
  display: flex;
  flex-direction: column;
}

.page-product__wrapper {
  display: flex;
}

.page-product__nav-wrapper {
  display: flex;
  padding-top: 36px;
  padding-bottom: 43px;
}

.page-product__slider-wrapper {
  display: flex;
}

.product-slider__secondary-slides-wrapper {
  display: flex;
  flex-direction: column;
}

.product-slider__secondary-img {
  width: 101px;
  height: 101px;
}

.product-slider__main-img {
  width: 404px;
  height: 404px;
}

.product-vie {
  height: 573px;
  display: flex;
}

.product-vie__title {
  padding-bottom: 43px;
  padding-top: 36px;
}

.product-vie__description {
  position: relative;
}

.description__name {
  font-weight: 700;
  font-size: 28px;
  line-height: 16px;
}

.description__cost {
  font-weight: 700;
  font-size: 22px;
  line-height: 16px;
  color: #46A358;
  padding-top: 21px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(126, 201, 111);
}

.description__size-title {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
}

.description__size-title {
  font-weight: 500;
  padding-top: 24px;
}

.description__size-wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 23px;
}

.description__size-wrapper button + button {
  margin-left: 10px;
}

.description__count-wrapper {
  display: flex;
  flex-direction: row;
}

.description__short-wrapper {
  padding-top: 12px;
}

.description__short-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  padding-bottom: 12px;
}

.description__short-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.description__rating-wrapper {
  display: flex;
}

.description__btn-wrapper {
  display: flex;
  padding-bottom: 26px;
}

.description__count {
  width: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description__count-wrapper {
  margin-right: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description__btn-buy-wrapper {
  display: flex;
  align-items: flex-end;
}

.description__btn-buy-wrapper button {
  margin-right: 10px;
}

.description__share-wrapper {
  display: flex;
}

.description__share-wrapper button {
  margin-left: 15px;
}

.description__sku-wrapper {
  display: flex;
  padding-bottom: 10px;
}

.description__info-title {
  color: #a5a5a5;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
}

.description__sku {
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
}

.description__categories-wrapper {
  display: flex;
  padding-bottom: 10px;
}

.description__tags-wrapper {
  padding-bottom: 10px;
  display: flex;
}

.description__link {
  text-decoration: none;
  margin-left: 7px;
  color: #46A358;
}

.description__link:hover {
  color: rgb(126, 201, 111);
}

.stars__wrapper {
  display: flex;
  position: absolute;
  right: 0;
  top: 45px;
}

.stars__wrapper a {
  text-decoration: none;
}

.full-description__title-wrapper {
  display: flex;
  align-items: flex-end;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
  margin-bottom: 18px;
}

.full-description__text {
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #727272;
}

.full-description__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.swiperRelated {
  margin-top: 60px;
  margin-bottom: 60px;
}

.swiper-wrapper {
  display: flex;
}

.swiper-title {
  padding-top: 50px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #46A358;
  padding-bottom: 10px;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
}

.page-cart {
  padding-top: 20px;
}

.page-cart__nav-wrapper {
  display: flex;
  padding-bottom: 30px;
}

.page-cart__wrapper {
  display: flex;
}

.page-cart__table-wrapper {
  display: flex;
  margin-right: 86px;
  flex-direction: column;
}

.page-cart__table-titles {
  display: flex;
  border-bottom: 1px solid #46A358;
  padding-bottom: 11px;
}

.table-titles__prod {
  width: 305px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.table-titles__price {
  width: 145px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.table-titles__quantity {
  width: 162px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.table-titles__total {
  padding-right: 97px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.cart__wrapper {
  display: flex;
  background-color: #FBFBFB;
  width: 782px;
  height: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cart__prod-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 6px;
  text-decoration: none;
}

.cart__prod-name:hover {
  color: rgb(126, 201, 111);
  transition: 0.4s;
}

.cart__quantity {
  width: 20px;
  margin: 0 5px;
  text-align: center;
  overflow: hidden;
}

.cart__product-img {
  width: 70px;
  height: 70px;
}

.cart__info-wrapper {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 14px;
}

.cart__prod-sku-wrapper {
  display: flex;
}

.cart__prod-sku-title {
  color: #A5A5A5;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.cart__prod-sku {
  margin-left: 5px;
}

.cart__price {
  width: 145px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.cart__quantity-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart__total {
  margin-left: 72px;
  display: flex;
  align-items: center;
  width: 110px;
  font-weight: 700;
  color: #46A358;
  overflow: hidden;
}

.calculate-cost {
  display: flex;
  flex-direction: column;
  width: 332px;
}

.calculate-cost__title {
  width: auto;
  border-bottom: 1px solid #46A358;
  padding-bottom: 11px;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
}

.calculate-cost__coupon-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;
}

.calculate-cost__input-wrapper {
  display: flex;
  margin-bottom: 30px;
}

.calculate-cost__input {
  border: 1px solid #46A358;
}

.calculate-cost__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #A5A5A5;
}

.calculate-cost__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #A5A5A5;
}

.calculate-cost__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #A5A5A5;
}

.calculate-cost__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.calculate-cost__subtotal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.calculate-cost__coupon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.calculate-cost__shiping {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.calculate-cost__shiping-charge {
  width: auto;
  display: block;
  text-align: end;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #46A358;
  text-decoration: none;
}

.calculate-cost__shiping-charge:hover {
  color: rgb(126, 201, 111);
  transition: 0.4s;
}

.calculate-cost__total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

.calculate-cost__price {
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
}

.calculate-cost__total-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.calculate-cost__total-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: #46A358;
}

.calculate-cost__btn-wrapper {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.calculate-cost__shoping-again {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  color: #46A358;
  text-decoration: none;
}

.calculate-cost__shoping-again:hover {
  color: rgb(126, 201, 111);
  transition: 0.4s;
}

.footer__inner {
  padding-top: 50px;
}

.subscribe {
  display: flex;
  background-color: #fbfbfb;
  border-bottom: 1px solid #46A358;
}

.subscribe__cardWhy {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 205px;
  margin: 20px 0;
  padding: 0 23px;
  border-right: 1px solid rgba(70, 163, 88, 0.1);
}

.subscribe__title {
  padding-top: 27px;
  padding-bottom: 9px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}

.subscribe__paragraf {
  width: 204px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.subscribe__background {
  position: absolute;
  bottom: 100px;
  left: 20px;
  width: 74px;
  height: 74px;
  background: rgba(70, 163, 88, 0.13);
  border-radius: 50%;
}

.subscribe__form-wrapper {
  width: 446px;
  margin: 20px 0;
  padding: 0 23px;
}

.form-subscribe {
  position: relative;
  display: flex;
}

.form-subscribe__title {
  padding-top: 27px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
}

.form-subscribe__input {
  width: 273px;
  height: 35px;
  padding-left: 10px;
  background-color: #fff;
  border: none;
  border: 2px solid #fff;
  border-radius: 4px;
}

.form-subscribe__text {
  padding-top: 17px;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
}

.form-subscribe__btn {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  height: 37px;
  padding: 0 17px;
  color: #fff;
  font-weight: 500;
  font-weight: 500;
  font-size: 16px;
  font-family: CeraPro;
  background-color: #46A358;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.form-subscribe__input::-moz-placeholder {
  color: #212529;
  opacity: 0.4;
}

.form-subscribe__input:-ms-input-placeholder {
  color: #212529;
  opacity: 0.4;
}

.form-subscribe__input::placeholder {
  color: #212529;
  opacity: 0.4;
}

.form-subscribe__input:focus {
  border: 1px solid #46A358;
}

.form-subscribe__input:active {
  border: 1px solid #46A358;
}

.our-contacts {
  display: flex;
  height: 88px;
  background: rgba(70, 163, 88, 0.1);
}

.our-contacts__card-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 205px;
  margin: 20px 0;
  padding: 0 23px;
}

.our-contacts__text {
  width: 176px;
  padding-left: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.footer-menu {
  display: flex;
  height: 246px;
  background-color: #fbfbfb;
  border-top: 1px solid #46A358;
}

.footer-menu__list {
  width: 205px;
  margin: 20px 0;
  padding: 0 23px;
}

.footer-menu__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  text-decoration: none;
}

.footer-menu__href {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
}

.footer-menu__socials {
  display: flex;
  justify-content: center;
}

.footer-menu__socials-and-pay {
  width: 205px;
  margin: 20px 0;
  padding: 0 23px;
}

.footer-menu__social-wrapper {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid rgba(70, 163, 88, 0.2);
  border-radius: 4px;
}

.copyright-wrapper {
  display: flex;
  justify-content: center;
}

@-webkit-keyframes iconsUp {
  0% {
    bottom: -5px;
  }

  100% {
    bottom: 5%;
  }
}

@keyframes iconsUp {
  0% {
    bottom: -5px;
  }

  100% {
    bottom: 5%;
  }
}

@-webkit-keyframes inputOpen {
  0% {
    right: -100%;
    opacity: 0.1;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes inputOpen {
  0% {
    right: -100%;
    opacity: 0.1;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes slide-animation {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-animation {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1220px) {
  .pagination__wrapper {
    margin-right: 20px;
  }

  .filter-list {
    margin-left: 70px;
  }

  .showcase__inner {
    height: 2100px;
  }

  .showcase__sorting {
    visibility: hidden;
    display: none;
    position: absolute;
    pointer-events: none;
  }

  .showcase__slots-wrapper {
    -ms-grid-columns: 259px 259px;
    grid-template-columns: 259px 259px;
    -ms-grid-rows: 420px 440px 420px 440px;
    grid-template-rows: 420px 440px 420px 440px;
    grid-column-gap: 33px;
  }
}

@media (max-width: 1200px) {
  .product-card__inner {
    flex-direction: column;
    align-items: center;
  }

  .card__wrapper + .card__wrapper {
    margin-left: 0;
    margin-top: 40px;
  }

  .blog__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .posts {
    width: 600px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 300px;
    grid-template-columns: 300px 300px;
    -ms-grid-rows: 370px 370px;
    grid-template-rows: 370px 370px;
    grid-column-gap: 33px;
    grid-row-gap: 33px;
    justify-content: center;
  }

  .posts__wrapper + .posts__wrapper {
    margin-left: 0;
  }

  .subscribe {
    display: flex;
    justify-content: center;
  }

  .subscribe__cardWhy {
    visibility: hidden;
    position: absolute;
  }
}

@media (max-width: 1124px) {
  .image-wrapper__flower {
    left: -30px;
  }

  .image-wrapper__small-flower {
    left: -10px;
  }
}

@media (max-width: 1030px) {
  .footer-menu {
    display: flex;
    height: 246px;
    background-color: #fbfbfb;
    border-top: 1px solid #46A358;
  }

  .footer-menu__list {
    width: 150px;
    margin: 10px 0;
    padding: 0 13px;
  }

  .our-contacts {
    visibility: hidden;
    position: absolute;
  }
}

@media (max-width: 1000px) {
  .filter-list {
    margin-left: 20px;
  }

  .image-wrapper__flower {
    left: -700px;
    width: 200px;
    top: 190px;
  }

  .image-wrapper__small-flower {
    left: -600px;
    top: 270px;
  }

  .slide-wrapper {
    justify-content: center;
  }

  .text-wrapper {
    padding-left: auto;
    padding-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 950px) {
  .filter-list {
    display: none;
    visibility: hidden;
    position: absolute;
    pointer-events: none;
  }

  .showcase__inner {
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .menu__list-item + .menu__list-item {
    padding-left: 20px;
  }
}

@media (max-width: 815px) {
  .footer-menu {
    justify-content: center;
  }

  .footer-menu__list {
    width: 150px;
    margin-top: 10px;
    padding: 0;
  }

  .footer-menu__socials-and-pay {
    visibility: hidden;
    position: absolute;
  }
}

@media (max-width: 760px) {
  .section-header__inner {
    border-bottom: none;
  }

  .svg__search {
    visibility: hidden;
    position: absolute;
  }

  .menu {
    visibility: hidden;
    position: absolute;
  }

  .menu__list-item + .menu__list-item {
    padding-left: 20px;
  }

  .icons {
    display: flex;
  }

  .icons button + button {
    margin-left: auto;
  }

  .btn__hamburger-menu {
    visibility: visible;
    position: static;
  }

  .svg__logo-mini {
    margin-right: 10px;
  }

  .plants-search__wrapper {
    visibility: visible;
  }

  .logo-mini {
    visibility: visible;
    position: static;
  }

  .logo {
    visibility: hidden;
    position: absolute;
  }

  .plants-search__wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .section-header__inner {
    display: block;
  }

  .svg__login {
    visibility: hidden;
    position: absolute;
  }
}

@media (max-width: 650px) {
  .posts {
    -ms-grid-columns: 300px;
    grid-template-columns: 300px;
    -ms-grid-rows: 370px;
    grid-template-rows: 370px;
    grid-column-gap: 33px;
    grid-row-gap: 33px;
  }
}

@media (max-width: 605px) {
  .showcase__wrapper {
    margin-left: 24px;
  }

  .section-slider {
    height: 220px;
    margin-top: 0;
    background: linear-gradient(104.74deg, rgba(70, 163, 88, 0.2) 4.19%, rgba(70, 163, 88, 0.1) 102.34%);
    border-radius: 30px;
    border: 1px solid #46A358;
  }

  .text-wrapper {
    padding-top: 25px;
    width: 300px;
    padding-left: 20px;
    padding-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }

  .text-wrapper__pre-title {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
  }

  .text-wrapper__title {
    width: 200px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
  }

  .text-wrapper__title span {
    color: #46A358;
  }

  .text-wrapper__paragraf {
    width: 200px;
    margin-top: 0;
    padding-bottom: 14px;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    height: 25px;
    overflow: hidden;
  }

  .image-wrapper__flower {
    width: 200px;
    height: 200px;
    top: 10px;
    left: -60px;
  }

  .image-wrapper__small-flower {
    width: 150px;
    height: 150px;
    top: 55px;
    left: -110px;
  }

  .slide-wrapper {
    justify-content: flex-start;
  }
}